<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>View Ad</title>
    <th:block th:replace="fragments/header :: main-header"/>
</head>
<body>

<div th:replace="fragments/navbar :: main-navbar"></div>

<div class="container mt-3">

    <header class="jumbotron my-3">
        <h1 class="display-3 text-center">View Ad</h1>
    </header>

    <div class="card p-3">
        <h1 th:text="${post.title}"></h1>
        <p th:text="${post.body}"></p>
        <h3 th:text="${post.user.email}"></h3>
        <input type="hidden" name="id" th:value="${post.id}">
        <div sec:authorize="isAuthenticated()">

            <th:block th:if="${post.user.id == #authentication.principal.id}">
                <a th:href="@{'/posts/' + ${post.id} + '/edit'}" class="btn btn-warning btn-block">Edit Ad</a>
                <form th:action="@{'/delete/posts'}" method="post">
                    <button class="btn btn-danger btn-block" name="id" th:value="${post.id}">Delete Ad</button>
                </form>
            </th:block>
        </div>
    </div>

</div>
<th:block th:replace="fragments/footer :: main-footer"/>
</body>
</html>